.counter {
  text-align: center;
  font-size: 2.4em;
  color: #ff5722;
  text-shadow: 2px 2px 2px black;
}

.counter > .number {
  margin: 40px 0 20px;
}

.counter > button {
  width: 100px;
  margin: 0 10px 25px;
  padding: 0;
  font-size: 0.7em;
  cursor: pointer;
  user-select: none;
  cursor: pointer;
}
